<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update productos</title>
</head>
<body>
    <h1>Update productos</h1>
    <p th:text=${todos}></p>
    <div>
        <table >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fabricante</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto : ${productos}">
                    <td th:text="${producto.Id}"></td>
                    <td th:text="${producto.Fabricante}"></td>
                    <td th:text="${producto.Descripcion}"></td>
                    <td th:text="${producto.Precio}"></td>
                </tr>
            </tbody>
        </table>
        <form action="/productos/update" method="POST">
            <div>
            <ul style="list-style: none;">
                <li>
                    <label>Fabricante: <input type="text" name="fabricante"/></label> 
                </li>
                <li>
                    <label>Descripcion: <input type="text" name="descripcion"></label>
                </li>
                <li>
                    <label>Precio: <input type="text" name="precio"></label>
                </li>
    
              
            </ul>
            <input type="submit">
            </div>
        </form>
    </div>
    
</body>
</html>