<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista productos a actualizar</title>
</head>
<body>
    <h1>Actualizar producto</h1>
    <p>Introduccir los datos del nuevo cliente</p>
    <form action="/updateProducto" method="POST">
        <div>
        <ul style="list-style: none;">
            <li>
                <label>Id: <input type="text" name="id" value=/></label> 
            </li>
            <li>
                <label>Fabricante: <input type="text" name="fabricante"></label>
            </li>
            <li>
                <label>Descripcion: <input type="text" name="descripcion"></label>
            </li>
            <li>
                <label>Precio: <input type="text" name="precio"></label>
            </li>
          
        </ul>
        <input type="submit">
        </div>   
    </form>
    
</body>
</html>