<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update productos</title>
</head>
<body>
    <h1>Update productos</h1>
    <p th:text=${todos}></p>
    <div>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fabricante</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto : ${producto}">
                    <td th:text="${producto.Id}"></td>
                    <td th:text="${producto.Fabricante}"></td>
                    <td th:text="${producto.Descripcion}"></td>
                    <td th:text="${producto.Precio}"></td>
                </tr>
            </tbody>
        </table>
        <form class ="ui form" action="/productos/update" method="POST">
            <div class="field">
            Fabricante: <input type="text" name="fabricante" th:value="${producto?.fabricante}">
            </div>
            <div class="field">
            Descripcion: <input type="text" name="descripcion" th:value="${producto?.descripcion}">
            </div>
            <div class="field">
            Precio: <input type="text" name="precio" th:value="${producto?.precio}">
            </div>
            <button class="ui button" type="submit">Enviar</button>
        </form>
        <a href="/productos/" class="ui button">Lista</a>
    </div>
    
</body>
</html>